"@primekey-design-system:registry"="https://neo.repoman.primekey.com/api/v4/projects/156/packages/npm/"


username=gitlab+deploy-token-5
"//neo.repoman.primekey.com/api/v4/projects/156/packages/npm/:_authToken"="FD3AQzzCXjyJcrx9Ak5e"

strict-ssl=false
